@import "tailwindcss";

* {
  /* border:  1px solid white; */
}

body {
  background-color: #fff;
}

@font-face {
  font-family: bubble;
  src: url(./assets/MadieRoger-OGGao.ttf);
}
@font-face {
  font-family: bubble2;
  src: url(./assets/DefinitelyMaybe-1EzZ.ttf);
}

@font-face {
  font-family: cloud1;
  src: url(./assets/MckloudWhite-qq1.ttf);
}
@font-face {
  font-family: cloud2;
  src: url(./assets/MckloudStorm-DyD.ttf);
}

@font-face {
  font-family: Clash;
  src: url(./assets/ClashDisplay.otf);
}

@font-face {
  font-family: Clash2;
  src: url(./assets/ClashGrotesk-Light.otf);
}

::selection {
  background-color: #a476ff;
  color: black;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60%,
  100% {
    transform: rotate(0deg);
  }
}
